{% extends "base.html" %}
{% block title %}Anita - Creatief Vakvrouw{% endblock %}
{% block content %}
<header>
    <h2>Factuur voor <em>De Nieuwe Anita</em></h2>
    <p>
        Haalt de data op uit het online rooster in L1NDA en produceert een factuur.
        Controleer of de tijden kloppen, en voeg waar nodig shifts toe.
    </p>
</header>
<form id="anita-form" class="portal" action="/anita" method="post">
    <label for="maand">Maand:</label>
    <input id="maand" name="maand" type="month">
    <input type="submit" class="button" value="Haal data op">
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    let f = document.getElementById("anita-form");
    f.onsubmit= function() {
        let last = f.lastElementChild;
        let msg = document.createElement("p");
        msg.textContent = "Momentje, even de gegevens uit de planner van De Nieuwe Anita halen..."
        last.after(msg);
    }
</script>
{% endblock %}