{% extends "base.html" %}
{% block title %}Anita - Creatief Vakvrouw{% endblock %}
{% block content %}
<header>
    <h1>Creatief Vakvrouw</h1>
    <h2>Factuur voor <em>De Nieuwe Anita</em></h2>
    <p>
        Haalt de data op uit het online rooster in L1NDA en produceert een factuur.
    </p>
    <p>
        Controleer of de tijden kloppen, en voeg waar nodig shifts toe.
    </p>
</header>
<form class="portal" action="/anita" method="post">
    <label for="maand">Maand:</label>
    <input id="maand" name="maand" type="month">
    <input type="submit" class="button" value="Haal data op">
</form>
{% endblock %}