{% extends "base.html" %}
{% block title %}Factuur - Creatief Vakvrouw{% endblock %}
{% block content %}
<header>
    <h2>Nieuwe factuur</h2>
</header>
<form class="portal" action="/factuur" method="post">
    {% match most_recent_invoice_id %}
        {% when Some with (id) %}
            <label for="factuur_nummer">Factuurnummer (laatste was <span class="tag">{{ id }}</span>):</label>
            <input id="factuur_nummer" type="number" name="factuur_nummer" value="{{ id + 1 }}" required>
        {% when None %}
            <label for="factuur_nummer">Factuurnummer:</label>
            <input id="factuur_nummer" type="number" name="factuur_nummer" required>
    {% endmatch %}
    <h3>Klant</h3>
    {% match client %}
      {% when Some with (client) %}
        <label for="client_name">Naam:</label>
        <input id="client_name" name="client_name" type="text" required value="{{ client.name }}">
        <label for="client_address">Adres:</label>
        <input id="client_address" name="client_address" type="text" required value="{{ client.address  }}">
        <label for="client_zip">Postcode en stad:</label>
        <input id="client_zip" name="client_zip" type="text" required value="{{ client.zip}}">
      {% when None %}
        <label for="client_name">Naam:</label>
        <input id="client_name" name="client_name" type="text" required>
        <label for="client_address">Adres:</label>
        <input id="client_address" name="client_address" type="text" required>
        <label for="client_zip">Postcode en stad:</label>
        <input id="client_zip" name="client_zip" type="text" required>
    {% endmatch %}

    <h3>Werkzaamheden</h3>

    <button id="prepend-taak" type="button" class="button"><strong>+</strong></button>

    {% for item in items %}
    <div class="flex-row">
        <input name="task" type="text" placeholder="Omschrijving" value="{{ item.desc }}">
        <input name="price" type="number" step="any" placeholder="Euro" value="{{ item.euro }}">
    </div>
    {% else %}
    <div class="flex-row">
        <input name="task" type="text" placeholder="Omschrijving">
        <input name="price" type="number" step="any" placeholder="Euro">
    </div>
    {% endfor %}

    <button id="append-taak" type="button" class="button"><strong>+</strong></button>

    <p>
        Als alles ingevuld is, genereren we automatisch een PDF voor je factuur.
        Daarna sturen we je door naar de nieuwe factuur waar je hem ook kan downloaden.
        Upload deze vervolgens naar je Google Drive en stuur naar de andere partij.
    </p>

    <input type="submit" class="button" value="Maak factuur">
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById("prepend-taak").addEventListener(
        "click",
        (event) => {
            add_taak(false);
        }
    );
    document.getElementById("append-taak").addEventListener(
        "click",
        (event) => {
            add_taak(true);
        }
    );

    function add_taak(append) {
        let tasks = document.getElementsByClassName("flex-row");
        let task = tasks[append ? tasks.length - 1 : 0];
        let new_task = task.cloneNode(true);
        let desc = new_task.firstElementChild;
        let price = new_task.lastElementChild;
        desc.value = "";
        price.value = "";
    
        if (append) {
            task.after(new_task);
        } else {
            task.before(new_task);
        }
    }
</script>
{% endblock %}
