{% extends "base.html" %}
{% block title %}Portaal - Creatief Vakvrouw{% endblock %}
{% block content %}
<header>
    <h1>Creatief Vakvrouw</h1>
    <p>
        Portaal naar Noemi's boekhouding en andere administratieve taken.
        Veel van deze functionaliteit is nog <em>work-in-progress</em> en onderhevig aan verandering.
    </p>
</header>
<section class="portal">
    <h3>Nieuwe factuur</h3>
    <a href="/anita" class="button">Nieuwe Anita</a>
    {% for (key, client) in clients %}
    {% if key != "anita" %}
    <a href="/factuur?client={{key}}" class="button">{{client.name}}</a>
    {% endif %}
    {% endfor %}
    <a href="/factuur" class="button">Algemeen</a>

    <h3>Overige zaken</h3>
    <a href="#" class="button disabled">BTW aangifte</a>
</section>
{% endblock %}